---
const { ball } = Astro.props;

import LootEntry from './LootEntry.astro';
---
<div class="relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-lg bg-clip-border">
    <table class="w-full text-left table-auto min-w-max">
        <thead>
            <tr class="border-b border-slate-300 bg-slate-50">
                <th class="p-4 text-sm font-normal leading-none text-slate-500">Item</th>
                <th class="p-4 text-sm font-normal leading-none text-slate-500">Quantity</th>
                <th class="p-4 text-sm font-normal leading-none text-slate-500">Chance</th>
            </tr>
        </thead>
        <tbody>
            <LootEntry icon="https://minecraft.wiki/images/ItemSprite_cooked-cod.png" item="Pokeball" quantity="1" weight="1" chance="50" />
            <LootEntry icon="/assets/greatball.png" item="Great Ball" quantity="1" weight="1" chance="25" />
            <LootEntry icon="/assets/ultraball.png" item="Ultra Ball" quantity="1" weight="1" chance="10" />
            <LootEntry icon="/assets/masterball.png" item="Master Ball" quantity="1" weight="1" chance="1" />
        </tbody>
    </table>
</div>